### Documents
Datasheets/

FlexASIO.toml

### Kicad
*.zip
KiCad/OTO_NO_ITA/fp-info-cache
KiCad/OTO_NO_ITA/jlcpcb/production_files/
KiCad/OTO_NO_ITA/jlcpcb/gerber/
KiCad/OTO_NO_DEIRI/
KiCad/OTO_NO_TE/jlcpcb/gerber/

### STM32CubeIDE
.metadata
.settings
Debug
*.elf
*.swp
*.launch
*.o
*.su
*.d
*.mk
*.list
*.map
*.cyclo
*.log
*.step
*.bak

STM32CubeIDE/JUMBLEQ/Appli/STM32H7S3Z8TX_STiROT_Appli.ld
STM32CubeIDE/JUMBLEQ/Appli/STM32H7S3Z8TX_sram.ld
STM32CubeIDE/JUMBLEQ/Appli/STM32H7S3Z8TX_ROMxspi2.ld
STM32CubeIDE/JUMBLEQ/Appli/STM32H7S3Z8TX_ROMxspi1_RAMxspi2.ld
STM32CubeIDE/JUMBLEQ/Appli/STM32H7S3Z8TX_RAMxspi1_ROMxspi2.ld
STM32CubeIDE/JUMBLEQ/Appli/STM32H7S3Z8TX_OEMiROT_Appli.ld
STM32CubeIDE/JUMBLEQ/Appli/STM32H7S3Z8TX_default.ld

KiCad/OTO_NO_ITA/jlcpcb/project.db
