### Documents
Datasheets/

### Kicad
*.zip
KiCad/OTO_NO_ITA/fp-info-cache
KiCad/OTO_NO_ITA/jlcpcb/production_files/
KiCad/OTO_NO_ITA/jlcpcb/gerber/

### STM32CubeIDE
.metadata
.settings
Debug
*.elf
*.swp
*.launch
*.o
*.su
*.d
*.mk
*.list
*.map
*.cyclo

STM32CubeIDE/CORTEX_MPU/

STM32CubeIDE/GPIO_IOToggle/

STM32CubeIDE/H7S3-test2/

STM32CubeIDE/H7S3-test/

STM32CubeIDE/GPIO_InfiniteLedToggling_Init/

STM32CubeIDE/USB_TEST/
